*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(208, 223, 247);
}

.BookList{
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .BookList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
}

.Book{
  background-color: white;
  border-radius: 1rem;
  padding : 2rem;
  text-align: center;
}

.Book img{
  width: 100%;
  object-fit: cover;
}

.Book h2{
  font-size: 1rem;
  margin-top: 1rem;
}

.Book h4{
  color: #617d98;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
